div{
	font-family: 'Arial';
	background-color: #a8cf45;
	margin: 15px 0px;
	position: relative;
	left: 50%;
	margin-left: -60px;
	padding: 5px 20px;
	text-align: center;
	font-weight: bolder;
	width: 80px;
	display: inline-block;
	vertical-align: middle;
}

.balanceo:hover{
	-webkit-animation: 1s balanceo 1;
}
@-webkit-keyframes balanceo{
	20%{
		-webkit-transform: scale(0.7)
							rotate(-6deg);
	}
	30%, 70%{
		-webkit-transform: scale(1.1)
							rotate(6deg);
	}
	50%, 90%{
		-webkit-transform: scale(1.1)
							rotate(-6deg);
	}
}