div{
	font-family: 'Arial';
	background-color: #a8cf45;
	margin: 15px 0px;
	position: relative;
	left: 50%;
	margin-left: -60px;
	padding: 5px 20px;
	text-align: center;
	font-weight: bolder;
	width: 80px;
	display: block;
	vertical-align: middle;
}
.velozin{
	-webkit-animation: 1s veloz 1;
}
@-webkit-keyframes veloz{
	15%{
		opacity: 1;
	}
	100%{
		-webkit-transform: translateX(-200%) skewX(-40deg);
		opacity: 0;
	}
}
.velozin2{
	-webkit-animation: 1s veloz2 1;
}
@-webkit-keyframes veloz2{
	15%{
		opacity: 1;
	}
	100%{
		-webkit-transform: translateY(-200%) skewY(-40deg);
		opacity: 0;
	}
}
